<!DOCTYPE Html>
<html>
<body>

<h1> {% if time <= 6  %}
  Shouldn't you be sleeping right now?
{% elif 6 < time < 12 %}
  Good Morning!
{% else %}
 Good Evening!
{% endif %}  {{ username }}   </h1>
<p>current time:  {{datetime}} </p>
<p> This is my first webpage </p>

</body>
</html>