<html>
	<head>
		{% block head %}
			{% block meta %}
			{% endblock %}
			{% block script %}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
				{% block header %}
				{% endblock %}
				{% block content %}
				Hello world! This is a jinja template.
				{% endblock %}
				{% block footer %}
				{% endblock %}
		{% endblock %}
	</body>
</html>